.highlightImage {
	height: 80%;
}
.carousel-inner{
	height:100%;
	max-height: 80% !important;
}

.carousel-caption {
	bottom: 30%;
}

.btn-xlarge {
	padding: 18px 28px;
	font-size: 18px; //change this to your desired size
line-height: normal;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}